body{
	font-family: arial, helvetica;
	background: #000080;
}
.menu{
	list-style: none;
	padding: 0;
	background: #09070F;
	width: 100%;
	max-width: 10000px;
	margin: auto;
}
.menu li a{
	text-decoration: none;
	color: white;
	padding:20px ;
	display: block;
}
.menu li{
	display: inline-block;
	text
}
.menu li a:hover{
	background: #3106BB;
	border-radius: 15px;
}